# Análisis exploratorio del dataset Chocolate Sales

*Pregunta principal*

¿Qué patrones explican las ventas de chocolate y qué tan bien podemos predecirlas?

*Preguntas secundarias*

¿Cómo se distribuye la variable objetivo (Amount)?

¿Existen outliers?

¿Hay estacionalidad?

¿Las ventas difieren por país / producto?

¿Boxes Shipped explica Amount?

¿Hay problemas de calidad de datos?

In [1]:
# Librerías
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option("display.max_columns", None)

In [ ]:
# Cargar datos
df = pd.read_csv('../data/raw/Chocolate Sales (2).csv')
df.head()

,Sales Person,Country,Product,Date,Amount,Boxes Shipped
0,Jehu Rudeforth,UK,Mint Chip Choco,04/01/2022,"$5,320.00",180
1,Van Tuxwell,India,85% Dark Bars,01/08/2022,"$7,896.00",94
2,Gigi Bohling,India,Peanut Butter Cubes,07/07/2022,"$4,501.00",91
3,Jan Morforth,Australia,Peanut Butter Cubes,27/04/2022,"$12,726.00",342
4,Jehu Rudeforth,UK,Peanut Butter Cubes,24/02/2022,"$13,685.00",184

In [8]:
df.shape

(3282, 6)

In [7]:
# Estructura general

df.info()
df.describe()

<class 'pandas.DataFrame'>
RangeIndex: 3282 entries, 0 to 3281
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Sales Person   3282 non-null   str
 1   Country        3282 non-null   str
 2   Product        3282 non-null   str
 3   Date           3282 non-null   str
 4   Amount         3282 non-null   str
 5   Boxes Shipped  3282 non-null   int64
dtypes: int64(1), str(5)
memory usage: 154.0 KB

       Boxes Shipped
count    3282.000000
mean      164.666971
std       124.024736
min         1.000000
25%        71.000000
50%       137.000000
75%       232.000000
max       778.000000

In [ ]:
# Limpieza mínima